/* 
-----------------
STYLING SECTIONS:
-----------------
1. Root Styling
2. Default Link Styling
3. Page Header Styling
4. Page Footer Styling
5. Index Page Styling
6. About Page Styling
7. Work Page Styling
8. Contact Page Styling
9. Responsive Styling
*/


/* ROOT STYLING */
:root {
   /* Font Styling: */
   --font-family-1: "Lato", sans-serif;
   --font-family-2: "Lato", sans-serif;

   --font-size-very-large: 36px;
   --font-size-large: 30px;
   --font-size-medium-large: 24px;
   --font-size-medium: 18px;
   --font-size-small: 10px;
   --font-weight-bold: 700;
   --font-weight-normal: 400;
   --font-weight-light: 100;

   /* Color Palettes: */
   --color-palette-1A: #fff;
   --color-palette-1B: #98ABEE;
   --color-palette-1C: #1d24cA;
   --color-palette-1D: #201658;
   --color-palette-1E: #000;
   --first-border-color: #ccc;
   --background-color-1: #ffffff;
   --background-color-2: #1B78C9;

   /* Button Colors: */
   --button-background: #7edaff;
   --button-text: rgb(0, 0, 0);
   --button-border-color: #000000;
   --button-hover-border-color: #7edaff;

   /* Animation Specific Colors: */
   --animation-color-one: red;
   --animation-color-two: orange;
   --animation-color-three: yellow;
   --animation-color-four: green;
   --animation-color-five: blue;
   --animation-color-six: purple;
}

.dark-theme {
   /* Dark Theme */
   /* Color Palettes: */
   --color-palette-1A: #000000;
   --color-palette-1B: #232737;
   --color-palette-1C: #62a9ff;
   --color-palette-1D: #e6e9f5;
   --color-palette-1E: #000;
   --first-border-color: #ccc;
   --background-color-1: #000000;
   --background-color-2: #1B78C9;

   /* Button Colors: */
   --button-background: #7edaff;
   --button-text: rgb(0, 0, 0);
   --button-border-color: #000000;
   --button-hover-border-color: #7edaff;
}

* {
   box-sizing: border-box;
}

h1 {
   font-size: var(--font-size-very-large);
   color: var(--color-palette-1E);

}

body {
   /* Define the main background color or image ! */
   background-color: var(--color-palette-1A);
   /* Apply a gradient overlay */
   background-image: linear-gradient(to right,
         var(--background-color-2),
         var(--background-color-1),
         var(--background-color-1),
         var(--background-color-2));

   /* Ensure the background covers the entire body and doesn't repeat */
   background-size: cover;
   background-repeat: no-repeat;

   /* Optional: Use these if your content doesn't naturally fill the viewport height */
   min-height: 100vh;
   /* 100% of the viewport height */
   width: 100%;
   /* 100% of the viewport width */
   margin: 0;
   /* Remove default margin */
   padding: 0;
   /* Remove default padding */
}

/* ROOT STYLING */






/* DEFAULT LINK/NAV STYLING */
a {
   color: var(--color-palette-1D);
   text-decoration: none;
}

a:visited {
   color: var(--color-palette-1D);
}

a:hover,
a:focus {
   text-decoration: underline;
   color: var(--color-palette-1C);
}

a:active {
   color: var(--color-palette-1B);
   text-decoration: underline;
}

.button,
button {
   /* overwrites browser defaults and resets the border */
   display: flex;
   justify-content: center;
   font-family: inherit;
   font-size: var(--font-size-medium);
   background-color: var(--button-background);
   color: var(--button-text);
   text-decoration: none;
   padding: 10px;
   border-width: 1px;
   border-radius: 20px;
   transition-duration: 0.2s;
   transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
   cursor: pointer;
   opacity: 0.8;
   border-color: var(--button-hover-border-color);
}

/* DEFAULT LINK/NAV STYLING */






/* PAGE HEADER STYLING */
.page-header {
   display: flex;
   align-items: top;
   justify-content: center;
   width: 100%;
   padding: 20px 50px;
   background-color: var(--color-palette-1A);
   position: fixed;
   z-index: 1000;
   /* High z-index to ensure it's on top */
}

.special {
   width: 100%;
}

.logo_image {
   flex: 0 0 auto;
   /* Keeps the logo from growing */
   width: 30%;
   max-width: 400px;
   float: left;
}

.navigation-list {
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
   list-style: none;
}

.navigation-list__item {
   padding: 0 15px;
   color: black;
   font-family: var(--font-family-2);
   font-size: var(--font-size-medium);
   font-style: normal;
}

.navigation-list__item--active {
   color: var(--color-palette-1B);
   text-decoration: underline;
}

.page-header__item:last-child {
   flex-grow: 0;
}

.page-header nav {
   position: relative;
}

/* PAGE HEADER STYLING */









/* PAGE FOOTER STYLING */
.page_footer {
   text-align: center;
   /* Centers the text horizontally */
   display: flex;
   /* Uses flexbox to organize children */
   flex-direction: column;
   /* Stacks children vertically */
   align-items: center;
   /* Aligns children (such as h5 and .social-media) to the center horizontally */
   margin-bottom: 20px;
   /* Adds some space below the footer */
}

/* Styling for the section containing the social media links */
.social-media {
   display: flex;
   /* Changes layout to flex to bring icons closer */
   align-items: center;
   /* Vertically centers the icons in the container */
   justify-content: center;
   /* Horizontally centers the icons in their container */
   gap: 10px;
   /* Sets a gap between the icons */
}

/* Styling for the social media images */
.social-media__img {
   width: 40px;
   /* Sets a fixed width for the icons */
   height: auto;
   /* Maintains aspect ratio of icons */
   cursor: pointer;
   /* Changes the cursor to a pointer to indicate these are clickable */
}

.footer_text {
   font-size: var(--font-size-medium);
   /* Sets the font size for the footer text */
   margin-bottom: 10px;
   /* Adds some space below the heading */
}

/* PAGE FOOTER STYLING */







/* INDEX PAGE STYLING */
body {
   background-color: var(--color-palette-1A);
   margin: 0;
   font-family: var(--font-family-1);
   line-height: 1.5;
   color: var(--color-palette-1D);
}

.main-container {
   width: 90%;
   max-width: 1200px;
   margin: auto;
   text-align: center;
   padding: 20px;

}

.first-row {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.profile {
   padding-top: 120px;
}

.profile_portrait {
   width: 20%;
   max-width: 250px;
   float: left;
   margin-right: 20px;
   border-radius: 30%;
   height: auto;
}

.text-content h1,
.text-content p {
   text-align: left;
   margin: 0;
   padding: 0;
}

.introduction {
   text-align: left;
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-normal);
}

.bold-span {
   font-size: var(--font-size-medium-large);
   font-weight: var(--font-weight-bold);
}

.second-row img {
   width: 100%;
   max-width: 600px;
   height: auto;
}

.third-row {
   display: flex;
   justify-content: center;
   margin-top: 20px;

}

.nav_button {
   margin: 0 10px;
   border-radius: 20px;
}

.madison-picture img {
   width: 100%;
   max-width: 600px;
   height: auto;
}

.madison-picture {
   display: flex;
   justify-content: center;
}

.Schumann_Quote {
   font-family: "Caveat", cursive;
   font-size: var(--font-size-large);

}

/* Keyframes for the color change animation */
@keyframes color-change {
   0% {
      fill: var(--animation-color-one);
   }

   10% {
      fill: var(--animation-color-two);
   }

   30% {
      fill: var(--animation-color-three);
   }

   50% {
      fill: var(--animation-color-four);
   }

   70% {
      fill: var(--animation-color-five);
   }

   90% {
      fill: var(--animation-color-six);
   }

   100% {
      fill: var(--animation-color-one);
   }
}

.skyline {
   animation: 10s color-change infinite normal linear;
}

/* INDEX PAGE STYLING */






/* ABOUT PAGE STYLING */
.about {
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar !!! */
}

/* Styling the ordered list grid container */
.tech-stack {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
   grid-gap: 20px;
   padding: 0;
   list-style-type: none;
   margin: 0 20px;
}

/* Styling each list item in the ordered list */
.tech-stack>li {
   background-color: var(--color-palette-1A);
   border: 1px solid var(--first-border-color);
   padding: 15px 20px;
   border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-light);
   color: var(--color-palette-1C);
}

/* Styling nested unordered lists */
.tech-stack ul {
   padding-left: 20px;
   list-style-type: none;
   font-size: 0.8em;
   color: var(--color-palette-1D);
}

/* Styling list items in nested lists */
.tech-stack ul li {
   margin-bottom: 5px;
}

/* Styling bullets for nested list items with a custom character */
.tech-stack ul li:before {
   content: "— ";
   /* En dash for a bullet point look */
   color: #555;
   /* Dark gray color for bullets */
   padding-right: 5px;
}

/* ABOUT PAGE STYLING */




/* PROJECT LIST STYLING */
.work {
   text-align: center;
   max-width: 1200px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar */
}

.project-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   /* Adapts number of columns based on the screen width */
   grid-gap: 20px;
   /* Space between cards */
   padding: 20px;
   /* Padding around the entire grid */
   margin: 0 auto;
   /* Centers the grid in the section */
   max-width: 1200px;
   /* Maximum width of the grid */
}

.project-list__item {
   display: flex;
   /* Use flexbox to layout the child elements */
   flex-direction: column;
   /* Stack children vertically */
   justify-content: space-between;
   /* Align children to space between */
   background-color: var(--color-palette-1A);
   border: 1px solid var(--first-border-color);
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;
}

.project-list__item:hover {
   transform: scale(1.02);
   /* Slight raise effect on hover */
}

.project-image {
   width: 100%;
   /* Ensures the image fills the card width */
   height: auto;
   /* Keeps image aspect ratio intact */
   border-radius: 5px;
   /* Optional: rounds the corners of the image */
   margin-bottom: 10px;
   /* Space between the image and text content */
   border: 1px solid #ccc;
}

.project-link {
   display: block;
   /* Makes the button a block element to fill the button container */
   text-align: left;
   /* Center the text inside the button */
   margin: 5px auto;
   /* Centers the button horizontally and adds vertical margin */
   color: var(--color-palette-1A);
   text-decoration: none;
   width: auto;
   /* Adjust width as needed or keep it auto */
}

.button-container {
   align-self: flex-start;
   /* Aligns the button container to the start of the flex-end area, on the left */
   width: 100%;
   /* Makes the button container take up full width of the parent */
   text-align: left;
   /* Aligns the buttons to the left side of the button container */
   margin-top: auto;
   /* Pushes the button container to the bottom */
}

/* WORK PAGE STYLING */









/* CONTACT PAGE STYLING */

.contact {
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar */
}

.contact_container {
   text-align: center;
   padding: 0 0;
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-normal);
   max-width: 700px;
   margin: 0 auto;
   justify-content: center;
}

.form-submit-button {
   display: block;
   /* Makes the button a block element */
   margin: 20px auto;
   /* Centers the button horizontally */
   width: 150px;
   /* You can adjust the width as needed */
}

#thankYouModal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* CONTACT PAGE STYLING */







/* RESPONSIVE STYLING */
/* Styles for narrow screens: max-width 500px */
@media (max-width:450px) {
   .navigation-list {
      flex-direction: column;
   }

   .logo_image {
      width: 100px;
      background-color: black;

   }

   .page-header {
      padding: 10px;

   }

   .project-list {
      grid-template-columns: 1fr;
      /* 1 column layout */
   }

   h1 {
      font-size: 20px;
   }

   h2,
   p,
   a {
      font-size: 14px;
      /* Smaller text on very small screens */
   }

   .project-link,
   .project-link:visited {
      font-size: 14px;
      /* Smaller text on very small screens */
   }
}

/* Styles for medium screens: between 501px and 750px */
@media (min-width: 801px) and (max-width: 1200px) {
   .project-list {
      grid-template-columns: 1fr 1fr;
      /* 2 columns layout */
   }

   .project-list__item {
      grid-column: auto;
      /* Ensures items span 1 column */
   }

   .project-link,
   .project-link:visited {
      font-size: 16px;
      /* Standard text size for moderate screens */
   }
}

/* Adjustments for moderate small screens: up to 750px */
@media (max-width: 750px) {
   h1 {
      font-size: 22px;
      /* Slightly smaller headers */
   }

   h2,
   p,
   a {
      font-size: 16px;
      /* Standard text size for moderate screens */
   }
}

/* Adjustments for navigation layout at less than 900px */
@media (max-width: 900px) {
   .navigation-list {
      display: flex;

      align-items: flex-end;
      margin-left: 0;
   }

   .navigation-list__item {
      margin: 10px 0;
      font-size: 18px;
      line-height: 1.5;
   }
}

/* RESPONSIVE STYLING */










/* SLIDESHOW STYLING */

/* Slideshow container */
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

/* Hide the images by default */
.mySlides {
   display: none;
}

/* Next & previous buttons */
.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

/* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active,
.dot:hover {
   background-color: #717171;
}

/* Fading animation */
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: .4
   }

   to {
      opacity: 1
   }
}