/* 
-----------------
STYLING SECTIONS:
-----------------
1. Root Styling
2. Default Link Styling
3. Page Header Styling
4. Page Footer Styling
5. Index Page Styling
6. About Page Styling
7. Work Page Styling
8. Contact Page Styling
9. Responsive Styling
10. Slideshow Styling

NOTE: All colors are managed by variables for consistency and easy tuning 
EXCEPT box shadows due to the complexity of the shadow property and the need for multiple values to be set. 
*/

/* ROOT STYLING */
:root {
   /* Font Styling: */
   --font-family-1: "Lato", sans-serif;
   --font-family-2: "Lato", sans-serif;

   --font-size-very-large: 36px;
   --font-size-large: 30px;
   --font-size-medium-large: 24px;
   --font-size-medium: 18px;
   --font-size-small: 10px;
   --font-weight-bold: 700;
   --font-weight-normal: 400;
   --font-weight-light: 100;

   /* Color Palettes: */
   --color-palette-1A: #fff;
   --color-palette-1B: #98ABEE;
   --color-palette-1C: #1d24cA;
   --color-palette-1D: #201658;
   --color-palette-1E: #000;
   --border-color-1: #ccc;
   --background-color-1: #ffffff;
   --background-color-2: #1B78C9;
   --bullet-color: #555;

   /* Button Colors: */
   --button-background: #7edaff;
   --button-text: #000;
   --button-border-color: #000000;
   --button-hover-border-color: #7edaff;

   /* Animation Specific Colors: */
   --animation-color-one: red;
   --animation-color-two: orange;
   --animation-color-three: yellow;
   --animation-color-four: green;
   --animation-color-five: blue;
   --animation-color-six: purple;

   /* TOGGLE COLORS */
   --toggle-background: #222;
   --toggle-active-background: #fff;
   --toggle-background-linear-gradient-light: #444;
   --toggle-background-linear-gradient-dark: #222;
   --toggle-active-background-linear-gradient-light: #eaeaea;
   --toggle-active-background-linear-gradient-dark: #f9f9f9;
   --toggle-indicator-background: #444;
   --toggle-indicator-active-background: #EAEAEA;

   /* SLIDESHOW COLORS */
   --slideshow-background: rgba(0, 0, 0, 0.8);
   --slideshow-caption-text: #f2f2f2;
   --slideshow-dot-color: #bbb;
   --slideshow-dot-active-color: #717171;
}

.dark-theme {
   /* Dark Theme */
   /* Color Palettes: */
   --color-palette-1A: #000000;
   --color-palette-1B: #232737;
   --color-palette-1C: #62a9ff;
   --color-palette-1D: #e6e9f5;
   --color-palette-1E: #000;
   --border-color-1: #ccc;
   --background-color-1: #000000;
   --background-color-2: #1B78C9;

   /* Button Colors: */
   --button-background: #7edaff;
   --button-text: rgb(0, 0, 0);
   --button-border-color: #000000;
   --button-hover-border-color: #7edaff;
}

* {
   box-sizing: border-box;
}

h1 {
   font-size: var(--font-size-very-large);
   color: var(--color-palette-1E);

}

body {
   /* Define the main background color or image ! */
   background-color: var(--color-palette-1A);
   /* Apply a gradient overlay as the background -- colors can be set by variables at top of file */
   background-image: linear-gradient(to right,
         var(--background-color-2),
         var(--background-color-1),
         var(--background-color-1),
         var(--background-color-2));
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   width: 100%;
   margin: 0;
   padding: 0;
}

/* ROOT STYLING */






/* DEFAULT LINK/NAV STYLING */
a {
   color: var(--color-palette-1D);
   text-decoration: none;
}

a:visited {
   color: var(--color-palette-1D);
}

a:active {
   color: var(--color-palette-1B);
   text-decoration: underline;
}

.button,
button {
   /* overwrites browser defaults and resets the border */
   display: flex;
   justify-content: center;
   font-family: inherit;
   font-size: var(--font-size-medium);
   background-color: var(--button-background);
   color: var(--button-text);
   text-decoration: none;
   padding: 10px;
   border-width: 1px;
   border-radius: 20px;
   transition-duration: 0.2s;
   transition-property: opacity;
}

/* hover effects combined so they are consistent across the page*/
a:hover,
a:focus,
button:hover,
button:focus,
.button:hover,
.button:focus {
   cursor: pointer;
   opacity: 0.8;
   border-color: var(--button-hover-border-color);
}

/* DEFAULT LINK/NAV STYLING */






/* PAGE HEADER STYLING */
.page-header {
   display: flex;
   align-items: top;
   justify-content: center;
   width: 100%;
   padding: 20px 50px;
   background-color: var(--color-palette-1A);
   position: fixed;
   z-index: 1000;
   /* High z-index to ensure it's on top (navbar and all header items) */
}

.special {
   width: 100%;
}

.logo_image {
   flex: 0 0 auto;
   /* Keeps the logo from growing */
   width: 30%;
   max-width: 400px;
   float: left;
}

.navigation-list {
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
   list-style: none;
}

.navigation-list__item {
   padding: 0 15px;
   color: var(--color-palette-1E);
   font-family: var(--font-family-2);
   font-size: var(--font-size-medium);
   font-style: normal;
}

.navigation-list__item--active {
   color: var(--color-palette-1B);
   text-decoration: underline;
}

.page-header__item:last-child {
   flex-grow: 0;
}

.page-header nav {
   position: relative;
}

.light_dark_label {
   position: absolute;
   top: 80px;
   right: 60px;
   padding: 10px;
   cursor: pointer;
}

#toggle {
   position: absolute;
   top: 60px;
   right: 80px;
   display: block;
   width: 60px;
   height: 30px;
   border-radius: 160px;
   background: var(--toggle-background);
   transition: 0.5s;
   cursor: pointer;
   box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle.active {
   background: var(--toggle-active-background);
   box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
      inset 0 2px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 30px;
   height: 30px;
   background: linear-gradient(to bottom,
         var(--toggle-background-linear-gradient-light),
         var(--toggle-background-linear-gradient-dark));
   border-radius: 50%;
   transform: scale(0.9);
   box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
   transition: 0.5s;
}

#toggle.active .indicator {
   left: 30px;
   background: linear-gradient(to bottom,
         var(--toggle-active-background-linear-gradient-light),
         var(--toggle-active-background-linear-gradient-dark));
   box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.1),
      inset 0 4px 4px rgba(255, 255, 255, 1),
      inset 0 -4px 4px rgba(255, 255, 255, 1);
}
/* PAGE HEADER STYLING */









/* PAGE FOOTER STYLING */
.page_footer {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

/* Styling for the section containing the social media links */
.social-media {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

/* Styling for the social media images */
.social-media__img {
   width: 40px;
   height: auto;
   cursor: pointer;
}

.footer_text {
   font-size: var(--font-size-medium);
   margin-bottom: 10px;
}

/* PAGE FOOTER STYLING */







/* INDEX PAGE STYLING */
body {
   background-color: var(--color-palette-1A);
   margin: 0;
   font-family: var(--font-family-1);
   line-height: 1.5;
   color: var(--color-palette-1D);
}

.main-container {
   width: 90%;
   max-width: 1200px;
   margin: auto;
   text-align: center;
   padding: 20px;

}

.first-row {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.profile {
   padding-top: 120px;
}

.profile_portrait {
   width: 20%;
   max-width: 250px;
   float: left;
   margin-right: 20px;
   border-radius: 30%;
   height: auto;
}

.text-content h1,
.text-content p {
   text-align: left;
   margin: 0;
   padding: 0;
}

.introduction_header {
   color: var(--color-palette-1D);
   padding-top: 120px;
   /* Ensure content starts below the navbar */
}

.introduction {
   text-align: left;
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-normal);
}

.bold-span {
   font-size: var(--font-size-medium-large);
   font-weight: var(--font-weight-bold);
}

.second-row img {
   width: 100%;
   max-width: 600px;
   height: auto;
}

.third-row {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.nav_button {
   margin: 0 10px;
   border-radius: 20px;
}

.madison-picture img {
   width: 100%;
   max-width: 600px;
   height: auto;
}

.madison-picture {
   display: flex;
   justify-content: center;
}

.Schumann_Quote {
   font-family: "Caveat", cursive;
   font-size: var(--font-size-large);

}

/* Keyframes for the color change animation */
@keyframes color-change {
   0% {
      fill: var(--animation-color-one);
   }

   10% {
      fill: var(--animation-color-two);
   }

   30% {
      fill: var(--animation-color-three);
   }

   50% {
      fill: var(--animation-color-four);
   }

   70% {
      fill: var(--animation-color-five);
   }

   90% {
      fill: var(--animation-color-six);
   }

   100% {
      fill: var(--animation-color-one);
   }
}

.skyline {
   animation: 10s color-change infinite normal linear;
}

/* INDEX PAGE STYLING */






/* ABOUT PAGE STYLING */
.about {
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar !!! */
}

/* Styling the ordered list grid container */
.tech-stack {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
   grid-gap: 20px;
   padding: 0;
   list-style-type: none;
   margin: 0 20px;
}

/* Styling each list item in the ordered list */
.tech-stack>li {
   background-color: var(--color-palette-1A);
   border: 1px solid var(--border-color-1);
   padding: 15px 20px;
   border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-light);
   color: var(--color-palette-1C);
}

/* Styling nested unordered lists */
.tech-stack ul {
   padding-left: 20px;
   list-style-type: none;
   font-size: 0.8em;
   color: var(--color-palette-1D);
}

/* Styling list items in nested lists */
.tech-stack ul li {
   margin-bottom: 5px;
}

/* Styling bullets for nested list items with a custom character */
.tech-stack ul li:before {
   content: "— ";
   /* En dash for a bullet point look */
   color: var(--bullet-color);
   /* Dark gray color for bullets */
   padding-right: 5px;
}

.cv_download_wide {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

/* ABOUT PAGE STYLING */




/* PROJECT LIST STYLING */
.work {
   text-align: center;
   max-width: 1200px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar */
}

.project-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   /* Adapts number of columns based on the screen width */
   grid-gap: 20px;
   /* Space between cards */
   padding: 20px;
   /* Padding around the entire grid */
   margin: 0 auto;
   /* Centers the grid in the section */
   max-width: 1200px;
   /* Maximum width of the grid */
}

.project-list__item {
   display: flex;
   /* Use flexbox to layout the child elements */
   flex-direction: column;
   /* Stack children vertically */
   justify-content: space-between;
   /* Align children to space between */
   background-color: var(--color-palette-1A);
   border: 1px solid var(--border-color-1);
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;
}

.project-list__item:hover {
   transform: scale(1.02);
   /* Slight raise effect on hover */
}

.project-image {
   width: 100%;
   /* Ensures the image fills the card width */
   height: auto;
   /* Keeps image aspect ratio intact */
   border-radius: 5px;
   /* Optional: rounds the corners of the image */
   margin-bottom: 10px;
   /* Space between the image and text content */
   border: 1px solid var(--border-color-1);
}

.project-link {
   display: block;
   /* Makes the button a block element to fill the button container */
   text-align: left;
   /* Center the text inside the button */
   margin: 5px auto;
   /* Centers the button horizontally and adds vertical margin */
   color: var(--color-palette-1A);
   text-decoration: none;
   width: auto;
   /* Adjust width as needed or keep it auto */
}

.button-container {
   align-self: flex-start;
   /* Aligns the button container to the start of the flex-end area, on the left */
   width: 100%;
   /* Makes the button container take up full width of the parent */
   text-align: left;
   /* Aligns the buttons to the left side of the button container */
   margin-top: auto;
   /* Pushes the button container to the bottom */
}

/* WORK PAGE STYLING */









/* CONTACT PAGE STYLING */

.contact {
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
   padding-top: 120px;
   /* Ensure content starts below the navbar */
}

.contact_container {
   text-align: center;
   padding: 0 0;
   font-size: var(--font-size-medium);
   font-weight: var(--font-weight-normal);
   max-width: 700px;
   margin: 0 auto;
   justify-content: center;
}

.form-submit-button {
   display: block;
   margin: 20px auto;
   width: 150px;
}

#thankYouModal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 2000;
   /* Sit on top */
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 300px;
   /* Fixed width */
   max-width: 100%;
   /* Prevents exceeding viewport size */
   padding: 20px;
   overflow: auto;
   /* Enable scroll if needed */
   color: var(--color-palette-1E);
   /* TEXT */
   background-color: var(--color-palette-1A);
   /* BACKGROUND */
   border: 1px solid var(--border-color-1);
   /* BORDER */
   border-radius: 10px;
}

/* CONTACT PAGE STYLING */







/* RESPONSIVE STYLING */
/* Styles for narrow screens: max-width 500px */
@media (max-width: 450px) {
   .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Center everything in the column */
      padding: 10px;
   }

   .logo_image {
      width: 100%;
      height: auto;
      background-color: var(--color-palette-1E);
      margin-bottom: 20px;
      /* Space between logo and navigation */
   }

   .special {
      display: flex;
      justify-content: center;
      /* Center navigation items */
      width: 100%;
      /* Full width */
      margin: 10px 0;
      /* Space above and below navigation */
   }

   .navigation-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* Spread items across the width */
      list-style: none;
      /* Remove list bullets */
      padding: 0;
      /* Remove default padding */
      width: 100%;
      /* Full width */
   }

   .navigation-list__item {
      padding: 10px;
      /* Padding for clickable area */
   }

   .light_dark_label {
      font-size: 15px;
      position: absolute;
      right: 70px;
      top: 77px;
   }

   #toggle {
      position: absolute;
      right: 30px;
      top: 90px;
      width: 40px;
      height: 20px;
   }

   #toggle .indicator {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 20px;
      height: 20px;
   }

   #toggle.active .indicator {
      left: 19px;
   }

   .third-row {
      display: flex;
      flex-direction: column;
      /* Stack buttons vertically */
   }

   .profile {
      padding-top: 160px;
   }

   .about {
      padding-top: 180px;
      /* Ensure content starts below the navbar */
      padding-left: 20px;
      padding-right: 20px;
   }

   .tech-stack {
      grid-template-columns: 1fr;
      /* 1 column layout */
   }

   .project-list {
      padding-top: 120px;
      grid-template-columns: 1fr;
      /* 1 column layout */
   }

   h1 {
      font-size: 20px;
   }

   h2,
   p,
   a,
   .project-link,
   .project-link:visited {
      font-size: 14px;
      /* Smaller text on very small screens */
   }
}


/* Styles for medium screens: between 501px and 750px */
@media (min-width: 801px) and (max-width: 1200px) {
   .project-list {
      grid-template-columns: 1fr 1fr;
      /* 2 columns layout */
   }

   .project-list__item {
      grid-column: auto;
      /* Ensures items span 1 column */
   }

   .project-link,
   .project-link:visited {
      font-size: 16px;
      /* Standard text size for moderate screens */
   }
}

/* Adjustments for moderate small screens: up to 750px */
@media (max-width: 750px) {
   h1 {
      font-size: 22px;
      /* Slightly smaller headers */
   }

   h2,
   p,
   a {
      font-size: 16px;
      /* Standard text size for moderate screens */
   }
}

/* Adjustments for navigation layout at less than 900px */
@media (max-width: 900px) {
   .navigation-list {
      display: flex;

      align-items: flex-end;
      margin-left: 0;
   }

   .navigation-list__item {
      margin: 10px 0;
      font-size: 18px;
      line-height: 1.5;
   }
}

/* RESPONSIVE STYLING */










/* SLIDESHOW STYLING */

/* Slideshow container */
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

/* Hide the images by default */
.mySlides {
   display: none;
}

/* Next & previous buttons */
.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: var(--color-palette-1A);
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
   background-color: var(--slideshow-background);
}

/* Caption text */
.text {
   color: var(--slideshow-caption-text);
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
   color: var(--slideshow-caption-text);
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

/* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: var(--slideshow-dot-color);
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active,
.dot:hover {
   background-color: var(--slideshow-dot-active-color);
}

/* Fading animation */
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: .4
   }

   to {
      opacity: 1
   }
}